*.log
*.lock
logs/*
*.rbc
capybara-*.html
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html
*Gemfile.lock
npm-debug.log
/self.class
*.lock
*.class
/report
/.yardoc/
/doc/
*.deb
*.pdf
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/ativacoes.txt
/debug.log
/exception_log.csv
/.idea
.idea
.DS_Store
